@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color:#ff8080;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}